html,body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#energy {
  position: absolute;
/*  width: 100px;
  height: 50px;
  top: 20px;
  left: 10px;*/
  clip: rect(0, 50px, 100px, 0);
}
.ene {
  position: absolute;
  width: 400px;
  height: 50px;
  top: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;

}
#info {
  position: absolute;
  top: 25px;
  width: 100%;
  margin: none;
  color: white;
  text-align: center;
  font-family: 'Exo', sans-serif;
}

#instructions {
  position: absolute;
  top: 20%;
  width: 100%;
  margin: none;
  color: white;
  text-align: center;
  font-family: 'Exo', sans-serif;
}

.longfade {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 4s, opacity 4s ease-in;
}

.shortfade {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.visible {
  display: inline;
  visibility: visible;
  opacity: 1;
}

.absent {
  display: none;
}
